/* Källor där jag har hittat hjälp: Youtube,Traversy media, kevin powell och the net ninja, Reddit WebDev kanalen, Udemy, Codecademy, w3schools, Mozilla developer network, Hans, och Joakim  */


/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grundläggande stil för body */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-evenly; /* Ändra till space-evenly för en mer centrerad men inte helt sammanpressad header */
    padding: 20px 50px;
    background-color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Mer avstånd mellan dark mode och sign-in / sign-up */
}

.logo {
    height: 40px;
    margin-right: 15px; /* Avstånd mellan logotyp och text */
}

.features-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 20px; /* Mindre avstånd mellan länk och dark mode */
}

.dark-mode-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

#darkModeSwitch {
    display: none;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    margin-left: 10px;
    position: relative;
    transition: background-color 0.3s;
}

.switch:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

#darkModeSwitch:checked + .switch {
    background-color: #4A90E2;
}

#darkModeSwitch:checked + .switch:before {
    transform: translateX(20px);
}

.sign-in-link {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Main section */
main {
    background: linear-gradient(365deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    max-width: 100%;
    margin: 0 auto;
}

.text-content {
    max-width: 50%;
    margin-right: 40px;
    padding-left: 200px;
}

h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.app-buttons {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.app-store-button,
.google-play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.app-store-button img,
.google-play-button img {
    width: 150px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.app-store-button:hover img,
.google-play-button:hover img {
    transform: scale(1.05);
}

.app-store-button:focus,
.google-play-button:focus {
    outline: none;
}

/* Stil för telefonbilderna */
.phone-images {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 20px;
    padding-right: 200px;
}

/* Stil för "Discover more" */
.discover-more {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative; /* Ändra till relative */
    justify-content: center;
    top: 260px; /* Justera denna för att hamna under Google Play-knappen */
    left: -300px;
}

.discover-icon {
    height: 40px;
    margin-right: 10px;
}

.discover-more a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

/* Sektion 2 Stil */
.second-section {
    background-color: #fff; /* Vit bakgrund */
    padding: 40px 20px; /* Utrymme runt innehållet */
    text-align: center;
}

/* Logotyperna högst upp */
.logos {
    display: flex;
    justify-content: space-between; /* Jämn fördelning av logotyperna */
    align-items: center;
    max-width: 1200px; /* Begränsa bredden för logosektionen */
    margin: 0 auto 40px auto; /* Centrera logosektionen horisontellt och ge mellanrum nedåt */
}

.logos img {
    max-width: 150px; /* Större logotyper */
    height: auto;
    margin: 0 20px; /* Ge mellanrum mellan logotyperna */
    transition: transform 0.3s ease-in-out; /* Effekt vid hover */
}

.logos img:hover {
    transform: scale(1.1); /* Liten zoom-effekt vid hover */
}

/* Stil för features-innehållet */
.features-wrapper {
    display: flex;
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: center; /* Centrera innehållet vertikalt */
    flex-wrap: wrap; /* Gör så att innehållet bryts till nästa rad vid behov */
}

.features-content {
    flex: 2; /* Låt texten och funktionerna ta upp två delar av utrymmet */
    max-width: 600px; /* Begränsa bredden */
    margin-left: 40px; /* Ge utrymme mellan bilden och texten */
    text-align: left; /* Justera texten till vänster */
}

.features-content h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.features-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

/* Stil för listan av features */
.features-list {
    display: flex;
    flex-wrap: wrap; /* Gör så att funktionerna bryts till nästa rad vid behov */
    justify-content: space-between; /* Sprid ut funktionerna jämnt */
}

.feature-item {
    display: flex;
    align-items: flex-start; /* Rikta ikonen och texten till toppen */
    margin-bottom: 20px;
    max-width: 280px; /* Begränsa bredden på varje feature */
}

.feature-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px; /* Utrymme mellan ikon och text */
}

.feature-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold; /* Fet stil för rubriker */
}

.feature-item p {
    font-size: 16px;
    color: #666;
}

/* Sektion 3 Stil */
.third-section {
    background-color: rgb(243, 246, 255); /* Bakgrundsfärg för sektion 3 */
    padding: 60px 20px; /* Utrymme runt innehållet */
    text-align: center; /* Centrerar textinnehållet */
}

.third-section h2 {
    font-size: 36px; /* Storlek för rubriken */
    color: #333;
    margin-bottom: 40px; /* Avstånd under rubriken */
    font-weight: bold; /* Fet text */
}

.phone-examples {
    display: flex; /* Flexbox för att lägga bilderna i rad */
    justify-content: center; /* Centrera bilderna */
    align-items: center; /* Vertikal centrering */
    gap: 40px; /* Avstånd mellan telefonbilderna */
    margin-bottom: 40px; /* Utrymme under telefonbilderna */
}

.phone-example {
    height: 400px; /* Storlek på telefonbilderna */
    border-radius: 20px; /* Rundade hörn på telefonbilderna */
}

/* Stil för underrubriken "Latest transaction history" */
.section-subtitle {
    font-size: 24px;
    color: #333;
    font-weight: bold; /* Fet text för underrubriken */
    margin-bottom: 20px; /* Avstånd under underrubriken */
}

.section-description {
    color: #666;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto; /* Centrera beskrivningen */
}

/* Grundläggande stil för sektion 4 */
.fourth-section {
    background-color: #fff; /* Vit bakgrund */
    padding: 60px 20px; /* Utrymme runt innehållet */
}

/* Stil för wrapper runt sektionerna */
.content-wrapper {
    display: flex;
    justify-content: space-between; /* Sprider ut innehållet horisontellt */
    align-items: center; /* Centrerar innehållet vertikalt */
    margin: 0 auto 40px auto; /* Centrera innehållet och lägg till utrymme mellan sektionerna */
    max-width: 1100px; /* Justera denna för att minska eller öka bredden */
    padding: 0 20px; /* Lägg till padding för att skapa utrymme från kanterna */
}

.transfer-section,
.payment-section {
    max-width: 45%; /* Begränsar bredden på textsektionerna */
}

h2 {
    font-size: 28px;
    color: #000;
    font-weight: 600; /* Tjockare text för rubriker */
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px; /* Utrymme för ikonen */
}

ul li:before {
    content: '✔'; /* En bock-ikon för varje fördel */
    color: #4A90E2;
    position: absolute;
    left: 0;
    top: 0;
}

/* Stil för Learn More-knappen */
.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.image-button img {
    height: 40px; /* Justera storleken på Learn More-bilden */
    transition: transform 0.2s ease-in-out;
}

.image-button:hover img {
    transform: scale(1.05); /* Skapar en liten zoom-effekt när du hovrar över knappen */
}

/* Stil för bilderna i sektionen */
.image-section {
    max-width: 50%; /* Begränsar bildens bredd */
}

.graph-image,
.contacts-image {
    width: 100%;
    height: auto;
    border-radius: 20px; /* Rundar kanterna på bilderna */
}

/* Stil för fördelarna i den andra delen */
.benefits-list {
    display: flex;
    flex-direction: column;
}

.benefit-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.benefit-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px; /* Utrymme mellan ikonen och texten */
}

.benefit-item p {
    font-size: 16px;
    color: #666;
}

/* Sektion 5 Stil */
.fifth-section {
    background-color: rgb(243, 246, 255); /* Ljusblå bakgrundsfärg */
    padding: 60px 20px; /* Utrymme runt innehållet */
    text-align: center;
}

.review-header {
    text-align: left; /* Justera rubriken till vänster */
    flex-shrink: 0; /* Förhindrar att rubriken minskar i storlek */
}

.fifth-section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
    font-weight: bold; /* Gör texten fet */
}

.reviews-wrapper {
    display: flex;
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: flex-start; /* Rikta recensionerna till toppen */
    gap: 40px; /* Utrymme mellan recensionerna */
    max-width: 1200px; /* Begränsar bredden på wrappern */
    margin: 0 auto; /* Centrera hela sektionen */
}

.review {
    background-color: #fff; /* Vit bakgrundsfärg för recensionerna */
    border-radius: 10px; /* Rundade hörn */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Lätt skugga */
    padding: 20px;
    max-width: 300px; /* Begränsa bredden på varje recension */
    text-align: left;
    position: relative; /* För att placera citat-ikonen ovanpå */
}

.quote-icon img {
    width: 44px;
    height: 44px;
    position: absolute;
    top: -20px;
    left: 0px; /* Justera placeringen av quote-ikonen */
}

.stars {
    display: flex;
    margin-bottom: 15px;
}

.star {
    font-size: 20px;
    color: #ccc; /* Ofyllda stjärnor */
}

.star.filled {
    color: gold; /* Fyllda stjärnor */
}

.review-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.reviewer-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.reviewer-title {
    font-size: 14px;
    color: #999;
}

/* Sektion 6: FAQ och Nyhetsbrev */
.sixth-section {
    background-color: #fff; /* Vit bakgrund för FAQ-sektionen */
    padding: 60px 20px;
}

/* FAQ-container */
.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto 60px;
}

.faq-left {
    max-width: 45%;
}

.faq-left h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold; /* Tjockare text för rubriken */
}

.faq-left p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

/* Kontaktalternativ */
.contact-options {
    display: flex;
    gap: 20px;
}

.contact-option {
    background-color: rgba(243, 246, 255, 1); /* Ljusblå bakgrundsfärg */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 180px;
}

.contact-option img {
    height: 24px;
    margin-bottom: 10px;
}

.contact-option p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.contact-option a {
    color: #4A90E2;
    font-weight: bold;
    text-decoration: none;
}

.contact-option a span {
    margin-left: 5px; /* Avstånd mellan text och pil */
}

.faq-right {
    max-width: 50%;
}

.faq-question {
    margin-bottom: 20px;
}

.faq-question button {
    width: 100%;
    background-color: rgba(243, 246, 255, 1); /* Ljusblå bakgrundsfärg */
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question button span {
    font-size: 18px;
}

.faq-question.expanded p {
    padding: 10px 20px;
    background-color: rgba(243, 246, 255, 0.8); /* Lätt ljusare blå för extra innehåll */
    border-radius: 0 0 10px 10px;
}

/* Nyhetsbrev-sektion */
.newsletter-section {
    background-color: rgb(243, 246, 255); /* Ljusblå bakgrundsfärg */
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsletter-content-wrapper {
    background-color: rgb(243, 246, 255); /* Ljusblå bakgrundsfärg */
    max-width: 1100px; /* Maxbredd för att centrera innehållet */
    padding: 20px 40px; /* Padding inuti för att ge avstånd från innehållet */
    margin: 0 auto; /* Centrera sektionen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box; /* Se till att padding inte påverkar bredden */
}

.newsletter-content {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.bell-icon {
    height: 44px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    padding-left: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
}

.newsletter-form button {
    background-color: #4A90E2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Footer-stil */
.footer-section {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    color: rgb(147, 151, 173);
    font-size: 14px;
    width: 100%; /* Gör att footern sträcker sig över hela sidans bredd */
    box-sizing: border-box; /* Se till att paddingen inte påverkar layouten */
}



/* Responsiv design */
@media (max-width: 1024px) {
    .text-content {
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .phone-images {
        margin-right: 0;
        margin-top: 20px;
        justify-content: center;
    }

    .discover-more {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
